---
layout: default
---
<div class="container">
  <div class="row jumbotron me-section">
    <div class="col-md-4 text-center">
      <img alt='{{site.data.contact.photo.name}}' src='{{site.data.contact.photo.url}}' width="150">
    </div>
    <div class="col-md-7 text-center">
      <h1>Virginie Albiez <small>Coach</small></h1>
      <p><a href="mailto:{{site.data.contact.email}}" class="btn btn-primary btn-lg">Contactez moi</a></p>
    </div>
  </div>
  {% for service in site.services %}
    <div class="spacer-40"></div>
    <div class="row service-detail" style="background-color:{{service.background}};">
      <div class="col-md-2">
        <i class="fa {{service.icon}}"></i>
      </div>
      <div class="col-md-10">
        <h2>{{service.title}}</h2>
        <ul>
          {% for item in service.items %}
            <li>{{item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>