<footer class="footer">
  <div class="container-fluid">
    <small>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div>
            <i class="fa fa-map-marker"></i>
            {{site.data.contact.address}}
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <i class="fa fa-phone"></i>
            {{site.data.contact.phone}}
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <a href="mailto:{{site.data.contact.email}}">
              <i class="fa fa-envelope"></i>
              {{site.data.contact.email}}
            </a>
          </div>
        </div>
      </div>
      <div class="row spacer-20">
        <div class="col-md-12">
          <p class="text-center">
            Virginie Albiez&nbsp;&copy;&nbsp;2011 - 2015.
            Site généré le {{ site.time | date: "%-d %b %Y" }} à {{ site.time | date: "%H:%M" }}.
          </p>
        </div>
      </div>
    </div>
    </small>
  </div>
</footer>